{% extends 'base_blank.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="top">
		<h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
	</div>
	<div class="login-box animated fadeInUp">
		<div class="box-header">
			<h2>Log In</h2>
		</div>
		<form method="post" style="padding: 20px;">
			{% csrf_token %}
			{{ form  | crispy }}
			<button type="submit">Login</button>
			<a href="#"><p class="small">Forgot your password?</p></a>
			<a href="{% url 'register' %}"><p class="small">Register as a Member</p></a>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>

{% endblock %}
