<!-- registration.html -->
{% extends 'base_blank.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  /* CSS styles for the container */
  .container {
      background-color: #ffffffeb; /* White background color */
      max-width: 800px; /* Maximum width of 700px */
      margin: 0 auto; /* Center the container horizontally */
      padding: 20px; /* Add some padding for spacing */
      margin-top: 50px; /* Add margin for vertical centering */
  }
  .custom-padding {
    padding-bottom: 10px
}
</style>

<div class="container" >
  <form method="post" id="registration-form">
    {% csrf_token %}
    <div class="step" id="step1">
      <h4>Additional Information</h4>
      <div class="custom-padding">
        <input value="{{user.id}}" type="hidden" name="rootID">
        {{form.church_name}}
      </div>
      <div class="custom-padding">
        {{form.date_of_birth}}
      </div>
      <div class="custom-padding">
        {{form.gender}}
      </div>
      <div class="custom-padding">
        {{form.phone}}
      </div>
      <div class="custom-padding">
        {{form.nationality}}
      </div>
      <div class="custom-padding">
        {{form.address}}
      </div>
      <div class="custom-padding">
        {{form.city}}
      </div>
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>

  </form>
</div>

{% endblock %}
