{% extends 'base_blank.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="login-box animated fadeInUp" style="padding: 20px;">
            <div class="box-header">
                <h2>Register Today</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>

                By registering, you accept the Terms of Service and Privacy Notice

                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/">Sign In</a>
            </small>
        </div>
    </div>
    </div>
{% endblock content %}