<!-- qx-section -->
<div
  id="qx-section-263197"
  class="qx-section  qx-hidden-sm qx-hidden-xs"    >

    <div class="qx-container">

    <div
    id="qx-row-542907"
    class="qx-row  wow slideInUp" data-wow-delay="0.1s"   >

    <div id="qx-column-142909" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12 qx-hidden-sm qx-hidden-xs" >
  <div id="qx-heading-5412208" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
           Upcoming Events
        </h2>

          <div class="qx-subtitle">
        <p>Check our calendar for our upcoming events</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-82911" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12 qx-hidden-sm qx-hidden-xs" >
  <div id="qx-button-597203" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/news" >
        All Events News      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->
<div
    id="qx-row-133198"
    class="qx-row "    >

    <div id="qx-column-803271" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-6 qx-col-xs-12 wow slideInUp" data-wow-delay="0.1s">
  <div id="qx-heading-21104" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Student's Conference 2020
        </h2>

          <div class="qx-subtitle">
        <p>A divine visitation conference this year running under the theme "World Changers" </p>      </div>

  </div>
</div><div id="qx-button-37567" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-38115" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> October , 2020  </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-633273" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-6 qx-col-xs-12 wow slideInUp" data-wow-delay="0.2s">
  <div id="qx-heading-662310" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Spiritual Formation : 2021
        </h2>

          <div class="qx-subtitle">
        <p>A 3 days and nights fasting experience for all inaugural first year students marked with uncommon spiritual experiences</p>      </div>

  </div>
</div><div id="qx-button-261617" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-741621" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> February , 2021 </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-563275" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-6 qx-col-xs-12 wow slideInUp" data-wow-delay="0.3s">
  <div id="qx-heading-78197" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Final Years : Homiletics
        </h2>

          <div class="qx-subtitle">
        <p>The practical preaching exam in front of the academic council, students and public at large. Dates are yet to be published.</p>      </div>

  </div>
</div><div id="qx-button-741628" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-531632" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> October, 2020 </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-152165"
  class="qx-section  qx-hidden-lg qx-hidden-md"    >

    <div class="qx-container">

    <div
    id="qx-row-892166"
    class="qx-row  wow slideInUp" data-wow-delay="0.1s"   >

    <div id="qx-column-192167" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-662168" class="qx-element qx-element-heading  wow slideInLeft" data-wow-delay="0.1s">
  <div class="section-title">


            <h2 class="qx-title">
           Upcoming Events
        </h2>

          <div class="qx-subtitle">
        <p>Check our calendar for our upcoming events.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-202169" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-392170" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/news" >
        Event news      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->
<div
    id="qx-row-402171"
    class="qx-row "    >

    <div id="qx-column-682172" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-12 qx-col-xs-12 wow slideInUp" data-wow-delay="0.1s">
  <div id="qx-heading-102173" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Student's Conference 2020
        </h2>

          <div class="qx-subtitle">
        <p>A divine visitation conference this year running under the theme "World Changers"</p>      </div>

  </div>
</div><div id="qx-button-952174" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link qx-hvr-hang"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-392175" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> October 2020 </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-122176" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-12 qx-col-xs-12 wow slideInUp" data-wow-delay="0.2s">
  <div id="qx-heading-272177" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Spiritual Formation : 2021
        </h2>

          <div class="qx-subtitle">
        <p>A 3 days and nights fasting experience for all inaugural first year students marked with uncommon spiritual experiences.</p>      </div>

  </div>
</div><div id="qx-button-302178" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link qx-hvr-hang"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-372179" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> February 2021 </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-852180" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-12 qx-col-xs-12 wow slideInUp" data-wow-delay="0.3s">
  <div id="qx-heading-42181" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Final Years : Homiletics
        </h2>

          <div class="qx-subtitle">
        <p>Every event on education is an event where students, local and international professors, experts from different industrial or research institute and event local.</p>      </div>

  </div>
</div><div id="qx-button-722182" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-link qx-hvr-hang"
     href="/index.php/news" >
        Read More          <i class="fa fa-angle-double-right"></i>
      </a>
</div>
<!-- qx-element-button -->
<div id="qx-blurb-172183" class="qx-element qx-element-blurb " >


              <div class="qx-media">
          <div class="qx-media-left"><i class="qx-icon fa fa-calendar"></i></div>
          <div class="qx-media-body">
            <h3 class="qx-blurb-title "> October 2020 </h3>            <div class="qx-blurb-content"></div>
          </div>
        </div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>