<footer id="t3-footer" class="wrap t3-footer  ">
    <div class="custom"  >
        <div>  <div class="qx quix">
        <div class="qx-inner windows_nt_10_0">
    
    
          <div
      id="qx-section-551"
      class="qx-section tx-footer"    >
    
        <div class="qx-container">
    
        <div
        id="qx-row-842"
        class="qx-row "    >
    
        <div id="qx-column-54" class="qx-column  qx-col-lg-4 qx-col-md-3 qx-col-sm-6 qx-col-xs-12" >
      <div id="qx-heading-99302" class="qx-element qx-element-heading " >
      <div class="section-title">
    
    
                <h2 class="qx-title">
              Address
            </h2>
    
    
      </div>
    </div><div id="qx-blurb-601918" class="qx-element qx-element-blurb " >
    
    
                  <div class="qx-media">
              <div class="qx-media-left"><i class="qx-icon fa fa-home"></i></div>
              <div class="qx-media-body">
                <h3 class="qx-blurb-title "> 6 Haupt Rd, Greendale, Harare </h3>            <div class="qx-blurb-content"></div>
              </div>
            </div>
    
    
    
    </div>
    <!-- qx-element-blurb -->
    <div id="qx-blurb-931029" class="qx-element qx-element-blurb " >
    
    
                  <div class="qx-media">
              <div class="qx-media-left"><i class="qx-icon fa fa-phone"></i></div>
              <div class="qx-media-body">
                <h3 class="qx-blurb-title "> +263 773 056 416 </h3>            <div class="qx-blurb-content"></div>
              </div>
            </div>
    
    
    
    </div>
    <!-- qx-element-blurb -->
    <div id="qx-blurb-471162" class="qx-element qx-element-blurb " >
    
    
                  <div class="qx-media">
              <div class="qx-media-left"><i class="qx-icon fa fa-envelope-o"></i></div>
              <div class="qx-media-body">
                <h3 class="qx-blurb-title "> registrar@heartfeltcollege.org </h3>            <div class="qx-blurb-content"></div>
              </div>
            </div>
    
    
    
    </div>
    <!-- qx-element-blurb -->
    </div>
    <!-- qx-col -->
    <div id="qx-column-366" class="qx-column  qx-col-lg-4 qx-col-md-3 qx-col-sm-6 qx-col-xs-12" >
      <div id="qx-heading-7923" class="qx-element qx-element-heading " >
      <div class="section-title">
    
    
                <h2 class="qx-title">
              Quick Links
            </h2>
    
    
      </div>
    </div><div id="qx-text-4784" class="qx-element qx-element-text " >
      <p><a href="/../index.php/our-courses">Courses</a></p>
    <p><a href="/../index.php/news">Admission</a></p>
    <p><a href="/../index.php/our-lecturers">Staff</a></p>
    <p><a href="/../index.php/contact-heartfelt-institute">Contact Us</a></p>
    <p><a href="{% url 'login' %}">Login</a></p>
  
  </div>
    <!-- qx-element-text --></div>
    <!-- qx-col -->
    <div id="qx-column-6010" class="qx-column  qx-col-lg-3 qx-col-md-3 qx-col-sm-6 qx-col-xs-12 qx-hidden-lg qx-hidden-md qx-hidden-sm qx-hidden-xs" >
      <div id="qx-heading-15104" class="qx-element qx-element-heading " >
      <div class="section-title">
    
    
                <h2 class="qx-title">
              Flickr Links
            </h2>
    
    
      </div>
    </div><div id="qx-flickr-471" class="qx-element qx-element-flickr " >
        <ul>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/15681810580/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/7548/15681810580_8d457540ca_m.jpg" alt="Pan Masala"></a>
                </li>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/14162778753/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/2930/14162778753_0f3a96a180_m.jpg" alt="Sports Template for Joomla"></a>
                </li>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/14162670213/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/2899/14162670213_7895dce4b8_m.jpg" alt="Apple Keyboard"></a>
                </li>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/13955882397/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/5568/13955882397_d08de46420_m.jpg" alt="Hard Working"></a>
                </li>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/14139588572/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/7371/14139588572_65097e6b1d_m.jpg" alt="Smile"></a>
                </li>
                        <li>
                    <a href="https://www.flickr.com/photos/everlearner/13907385109/" target="_blank" rel="noopener noreferrer"><img src="https://live.staticflickr.com/7317/13907385109_28875f3156_m.jpg" alt="Puzzle"></a>
                </li>
                </ul>
    </div></div>
    <!-- qx-col -->
    <div id="qx-column-45477" class="qx-column  qx-col-lg-4 qx-col-md-4 qx-col-sm-2 qx-col-xs-12" >
      <div id="qx-heading-34180" class="qx-element qx-element-heading " >
      <div class="section-title">
    
    
                <h2 class="qx-title">
              Subscribe
            </h2>
    
              <div class="qx-subtitle">
            <p>Get all the latest news.</p>      </div>
    
      </div>
    </div><div id="qx-custom-html-816" class="qx-element qx-element-custom-html ud-subiscribe" >
      <form action="" method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="sample@email.com">
          <span class="input-group-btn">
            <button class="btn" type="submit"><i class="fa fa-paper-plane-o"></i></button>
          </span>
      </div><!-- /input-group -->
    </form></div>
    <!-- qx-element-text --></div>
    <!-- qx-col -->
    
      </div>
      <!-- qx-row -->
    <div
        id="qx-row-28681"
        class="qx-row "    >
    
        <div id="qx-column-87683" class="qx-column  qx-col-lg-7 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
      <div id="qx-heading-80688" class="qx-element qx-element-heading " >
      <div class="section-title">
    
    
    
          <div class="qx-subtitle">
            <p>Copyright © 2023 Heartfelt Institute of Ministry. All Rights Reserved.</p>      
          </div>
    
      </div>
    </div></div>
    <!-- qx-col -->
    <div id="qx-column-27685" class="qx-column  qx-col-lg-5 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
      <div id="qx-social-icon-19983" class="qx-element qx-element-social-icon " >
      <ul class="social-icon horizontal">
          <li>
          <a href="#" >
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
          <li>
          <a href="#" >
            <i class="fa fa-twitter"></i>
          </a>
        </li>
          <li>
          <a href="#" >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
          <li>
          <a href="#" >
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
          <li>
          <a href="#" >
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        </ul>
    </div>
    </div>
    <!-- qx-col -->
    
      </div>
      <!-- qx-row -->
    
        </div>
    
    </div>
    <!-- qx-section -->
        </div>
      </div>
      </div></div>
    </footer>