<!-- qx-section -->
<div
  id="qx-section-434256"
  class="qx-section  qx-hidden-md qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-174257"
    class="qx-row  qx-equal-column"    >

    <div id="qx-column-874258" class="qx-column  qx-col-lg-3 qx-col-md-4 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-blurb-844259" class="qx-element qx-element-blurb ud-blurb qx-hvr-grow" >



        <a href="/index.php/pages/about-us"></a><h3 class="qx-blurb-title "> The Spiritual Man </h3>        <div class="qx-blurb-content"></div>



</div>
<!-- qx-element-blurb -->
<div id="qx-blurb-524260" class="qx-element qx-element-blurb ud-blurb qx-hvr-grow" >



        <a href="/index.php/pages/about-us"></a><h3 class="qx-blurb-title "> The Physical Man </h3>        <div class="qx-blurb-content"></div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-694261" class="qx-column  qx-col-lg-3 qx-col-md-4 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-blurb-44262" class="qx-element qx-element-blurb ud-blurb qx-hvr-grow" >



        <a href="/index.php/pages/about-us"></a><h3 class="qx-blurb-title "> The Intellectual Man </h3>        <div class="qx-blurb-content"></div>



</div>
<!-- qx-element-blurb -->
<div id="qx-blurb-554263" class="qx-element qx-element-blurb ud-blurb qx-hvr-grow" >



        <a href="/index.php/pages/about-us"></a><h3 class="qx-blurb-title "> The Total Graduate </h3>        <div class="qx-blurb-content"></div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->
<div id="qx-column-644264" class="qx-column  qx-col-lg-6 qx-col-md-4 qx-col-sm-6 qx-col-xs-12 qx-flex qx-flex-middle qx-flex-center" >
  <div id="qx-blurb-634265" class="qx-element qx-element-blurb " >



        <h3 class="qx-blurb-title "> Your growth path </h3>        <div class="qx-blurb-content"><p style="text-align: justify;">The Total Man Concept (TMC) is Heartfelt Institute of Ministry’s custom-built programme that constitutes the core concept of its academic programmes. This concept centres on ‘developing the man that will develop his world.’ It is designed to make the student become intelligently conscious of his environment and thus be able to maximize his potential.</p></div>



</div>
<!-- qx-element-blurb -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>