{% extends 'lecturerBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- qx-section -->
<div
  id="qx-section-143110"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-643111"
    class="qx-row "    >

    <div id="qx-column-843112" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-573113" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Our Courses
        </h2>

          <div class="qx-subtitle">
        <p>Our broad based academic curriculum</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-83114" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-297018" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/our-courses" >
        View All Course      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-351255"
  class="qx-section  qx-hidden-lg qx-hidden-md wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-941256"
    class="qx-row "    >

    <div id="qx-column-351257" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-441258" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Our Course
        </h2>

          <div class="qx-subtitle">
        <p>Aorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis borem ipsum dolor sit amet.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-661259" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-721260" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/our-courses" >
        View All Courses      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-192887"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-762888"
    class="qx-row "    >

    <div id="qx-column-462890" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12" >
  <!-- qx-element-joomla-article -->
<div id="qx-joomla-articles-282893" class="qx-element qx-element-joomla-articles  qx-layout-grid qx-text-left" >
            <div class="qx-row">
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/16-biblicals?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/biblicals.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/16-biblicals?Itemid=321">
                          Biblicals                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include:                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/14-history?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/history.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/14-history?Itemid=321">
                          History                         </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/44-integral-missions?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/missions.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/44-integral-missions?Itemid=321">
                          Integral Missions                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
            <div class="qx-row">
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/13-law-and-legal-studies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/law.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/13-law-and-legal-studies?Itemid=321">
                          Law and Legal Studies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/17-religious-studies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/religion.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/17-religious-studies?Itemid=321">
                          Religious Studies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/8-theologies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/theology.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/8-theologies?Itemid=321">
                          Theologies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include:                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
    </div></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-611889"
  class="qx-section  qx-hidden-lg qx-hidden-md"    >

    <div class="qx-container">

    <div
    id="qx-row-851890"
    class="qx-row "    >

    <div id="qx-column-781891" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12" >
  <!-- qx-element-joomla-article -->
<div id="qx-joomla-articles-881892" class="qx-element qx-element-joomla-articles  qx-layout-grid qx-text-left" >
            <div class="qx-row">
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/16-biblicals?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/biblicals.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/16-biblicals?Itemid=321">
                          Biblicals                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include:                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/14-history?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/history.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/14-history?Itemid=321">
                          History                         </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/44-integral-missions?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/missions.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/44-integral-missions?Itemid=321">
                          Integral Missions                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
            <div class="qx-row">
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/13-law-and-legal-studies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/law.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/13-law-and-legal-studies?Itemid=321">
                          Law and Legal Studies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/17-religious-studies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/religion.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/17-religious-studies?Itemid=321">
                          Religious Studies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include :                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/10-course/8-theologies?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/course/theology.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/10-course/8-theologies?Itemid=321">
                          Theologies                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          The courses under this category include:                         </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
    </div></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
{% endblock %}