<!-- qx-section -->
<div
  id="qx-section-11135"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-65136"
    class="qx-row "    >

    <div id="qx-column-7137" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-84138" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Our Lecturers
        </h2>

          <div class="qx-subtitle">
        <p><span style="font-size: 12pt;"><sup>Boasting with experience, substance and a deep passion to impart. Our permanent and guest lectuters</sup></span></p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-53139" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-93140" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/our-lecturers" >
          <i class="fa fa-play-circle-o"></i>
        View All lecturers      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-663343"
  class="qx-section  qx-hidden-lg qx-hidden-md wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-413344"
    class="qx-row "    >

    <div id="qx-column-373345" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-133346" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Our Teachers
        </h2>

          <div class="qx-subtitle">
        <p>Boasting with experience, substance and a deep passion to impart. Our permanent and guest lectuters.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-643347" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-753348" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/our-lecturers" >
        View All Teachers      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-57230"
  class="qx-section "    >

    <div class="qx-container">

    <div
    id="qx-row-83231"
    class="qx-row "    >

    <div id="qx-column-13233" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12" >
  <!-- qx-element-joomla-article -->
<div id="qx-edumodo-teachers-71234" class="qx-element qx-element-edumodo-teachers  qx-layout-grid qx-text-left" >
            <div class="qx-row">
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-apostle.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/43-apostle-t-vutabwashe?Itemid=321">
                                  Apostle T Vutabwashe                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Apostle T Vutabwashe</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/ApostleTavongaVutabwashe"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="https://twitter.com/T_Vutabwashe"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-drmike.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/35-guest-dr-mike-murdoch?Itemid=321">
                                  Dr Mike Murdoch                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Guest Lecturer</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/OfficialDrMikeMurdock/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="https://twitter.com/drmikemurdock"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-matsapa.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/42-pastor-c-matsapa?Itemid=321">
                                  Pastor C Matsapa                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Student's Dean</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="/"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-pastorrobert.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/36-guest-pstr-r-kayanja?Itemid=321">
                                  Pastor R Kayanja                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Guest Lecturer</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/PastorRobertKayanjaMiracleCentreOfficialPage/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="https://twitter.com/RobertKayanja"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
            <div class="qx-row">
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-uebertangel.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/33-guest-prophet-e-angel?Itemid=321">
                                  Prophet E. Angel                                 </a>
                                                        </h4>

                                                      <p class="teacher-position">Guest Lecturer</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/ProphetUebertAngel/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="https://twitter.com/UebertAngel"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-prophetmakandiwa.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/34-guest-prophet-e-makandiwa?Itemid=321">
                                  Prophet E. Makandiwa                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Guest Lecturer</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/prophetEMakandiwa/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="https://twitter.com/prmakandiwa"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait-mamvura.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/40-pstr-a-c-mamvura?Itemid=321">
                                  Pstr A.C Mamvura                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Academic Dean</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="/"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-3">
                            <div class="qx-media-grid">
                <div class="qx-media-inner edumodo-teacher">
                  <div class="qx-element-person teacher-person">
                       <div class="qx-person-img">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/teacher/potrait--pastor-c.jpg" alt="">
                      </div>

                    <div class="overlay">
                        <div class="qx-person-info">
                          <h4 class="teacher-title">
                                                              <a href="/index.php/component/content/article/16-teachers/38-max-stoiber?Itemid=321">
                                  Pstr C Vutabwashe                                </a>
                                                        </h4>

                                                      <p class="teacher-position">Lecturer</p>
                                                      <div class="social-links-teacher">
                                                               <a class="teacher-facebook" href="https://www.facebook.com/PastorCVutabwashe/"><i class="fa fa-facebook"></i></a>
                                                                                              <a class="teacher-teitter" href="/"><i class="fa fa-twitter"></i> </a>
                                                                                             <a class="teacher-gplus" href="/"><i class="fa fa-google-plus-square"></i> </a>
                                                                                               <a class="teacher-linkedin" href="/"><i class="fa fa-linkedin"></i> </a>
                                                          </div>
                        </div>
                      </div>
                  </div>


                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
    </div></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-69591"
  class="qx-section  qx-hidden-lg qx-hidden-md qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-54592"
    class="qx-row "    >

    <div id="qx-column-8593" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-41594" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Publications
        </h2>

          <div class="qx-subtitle">
        <p>Aorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis borem ipsum dolor sit amet.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-34595" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-21596" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/store" >
        View All Publications      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-234061"
  class="qx-section  qx-hidden-lg qx-hidden-md qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-34062"
    class="qx-row "    >

    <div id="qx-column-534063" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-374064" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
           Publications
        </h2>

          <div class="qx-subtitle">
        <p>Aorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum venenatis mollis borem ipsum dolor sit amet.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-574065" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-344066" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/store" >
        View All Publications      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-77226"
  class="qx-section  qx-hidden-lg qx-hidden-md qx-hidden-sm qx-hidden-xs"    >

    <div class="qx-container">

    <div
    id="qx-row-14227"
    class="qx-row "    >

    <div id="qx-column-79229" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12" >
  <!-- qx-element-digicom-products -->
<div id="qx-digicom-products-6232" class="grid com_digicom qx-element qx-element-digicom-products  qx-layout-grid qx-text-left wow slideInUp">
            <div class="qx-row">
                      <div class="item qx-col-md-4"
              itemscope itemtype="https://schema.org/CreativeWork"
            >
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                        <figure>
                        <a href="/index.php/component/digicom/technology/her-final-breath-book?Itemid=321">
                            <div class="atvImg">
                                <img
                                  class="qx-img qx-img-responsive"
                                  src="https://heartfeltcollege.org/images/themexpert/universidad/publication/cover.jpg" alt="Her Final Breath Book" />
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/cover.jpg"></div>
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/cover.jpg"></div>
                            </div>
                          </a>
                      </figure> <!-- end of media -->
                   <!--//end show_image-->

                  <div class="qx-media-body">
                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/digicom/technology/her-final-breath-book?Itemid=321" itemprop="url">
                          <span itemprop="name">Her Final Breath Book</span>
                        </a>
                                          </h3>

                    <div class="details">
                      <div class="post-meta">


                                              </div><!--/.post-meta-->

                    <p>By John Adoms</p>

                                            <div class="dc-price text-muted" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">

                        <a class="btn btn-primary edu-btn" itemprop="url" href="/index.php/component/digicom/technology/her-final-breath-book?Itemid=321">
                          Buy Now
                          <span class="hidden-sm">
                            | 200.00$</span>                            </span>
                        </a>

                                              </div>



                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="item qx-col-md-4"
              itemscope itemtype="https://schema.org/CreativeWork"
            >
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                        <figure>
                        <a href="/index.php/component/digicom/technology/don-t-make-me-think?Itemid=321">
                            <div class="atvImg">
                                <img
                                  class="qx-img qx-img-responsive"
                                  src="https://heartfeltcollege.org/images/themexpert/universidad/publication/dont-make-small.jpg" alt="Don't Make Me Think" />
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/dont-make-small.jpg"></div>
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/dont-make-small.jpg"></div>
                            </div>
                          </a>
                      </figure> <!-- end of media -->
                   <!--//end show_image-->

                  <div class="qx-media-body">
                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/digicom/technology/don-t-make-me-think?Itemid=321" itemprop="url">
                          <span itemprop="name">Don't Make Me Think</span>
                        </a>
                                          </h3>

                    <div class="details">
                      <div class="post-meta">


                                              </div><!--/.post-meta-->

                    <p>By Steve Krug </p>

                                            <div class="dc-price text-muted" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">

                        <a class="btn btn-primary edu-btn" itemprop="url" href="/index.php/component/digicom/technology/don-t-make-me-think?Itemid=321">
                          Buy Now
                          <span class="hidden-sm">
                            | 110.00$</span>                            </span>
                        </a>

                                              </div>



                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="item qx-col-md-4"
              itemscope itemtype="https://schema.org/CreativeWork"
            >
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                        <figure>
                        <a href="/index.php/component/digicom/technology/python-3?Itemid=321">
                            <div class="atvImg">
                                <img
                                  class="qx-img qx-img-responsive"
                                  src="https://heartfeltcollege.org/images/themexpert/universidad/publication/pythone-smallg.jpg" alt="Python 3" />
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/pythone-smallg.jpg"></div>
                                <div class="atvImg-layer" data-img="https://heartfeltcollege.org/images/themexpert/universidad/publication/pythone-smallg.jpg"></div>
                            </div>
                          </a>
                      </figure> <!-- end of media -->
                   <!--//end show_image-->

                  <div class="qx-media-body">
                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/digicom/technology/python-3?Itemid=321" itemprop="url">
                          <span itemprop="name">Python 3</span>
                        </a>
                                          </h3>

                    <div class="details">
                      <div class="post-meta">


                                              </div><!--/.post-meta-->

                    <p>By Tim Hall </p>

                                            <div class="dc-price text-muted" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">

                        <a class="btn btn-primary edu-btn" itemprop="url" href="/index.php/component/digicom/technology/python-3?Itemid=321">
                          Buy Now
                          <span class="hidden-sm">
                            | 200.00$</span>                            </span>
                        </a>

                                              </div>



                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
    </div><script type="text/javascript">
  jQuery( document ).ready(function() {
    atvImg();
  });
</script></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-272709"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-542710"
    class="qx-row "    >

    <div id="qx-column-74873" class="qx-column  qx-col-lg-12 qx-col-md-4 qx-col-sm-12 qx-col-xs-12" >
  <div id="qx-heading-251939" class="qx-element qx-element-heading  wow zoomIn" data-wow-delay="0.2s">
  <div class="section-title">


            <h2 class="qx-title">
          We ensure you get the right tools to manifest your call.
        </h2>


  </div>
</div><div id="qx-video-popup-92017" class="qx-element qx-element-video-popup " >
        <a href="https://www.youtube.com/watch?v=xDOkXvFY8Vo" class="qx-video-popup-92017-popup mfp-iframe vidwrap">
        <img src="/images/themexpert/universidad/icon/Play_Icon.png" alt="play">
              </a>
    </div>



<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('.qx-video-popup-92017-popup').magnificPopup({
      type: 'iframe'
    });
  });
</script></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-534627"
  class="qx-section  qx-hidden-lg qx-hidden-md wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-824628"
    class="qx-row "    >

    <div id="qx-column-144629" class="qx-column  qx-col-lg-12 qx-col-md-4 qx-col-sm-12 qx-col-xs-12" >
  <div id="qx-heading-894630" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          We work hard to prepare every student for the adult life.
        </h2>


  </div>
</div><div id="qx-video-popup-524631" class="qx-element qx-element-video-popup " >
        <a href="https://www.youtube.com/watch?v=xDOkXvFY8Vo" class="qx-video-popup-524631-popup mfp-iframe vidwrap">
        <img src="/images/themexpert/universidad/icon/Play_Icon_mobile.png" alt="play">
              </a>
    </div>



<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('.qx-video-popup-524631-popup').magnificPopup({
      type: 'iframe'
    });
  });
</script></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-23584"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-71585"
    class="qx-row "    >

    <div id="qx-column-46586" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-72587" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Latest Notices
        </h2>

          <div class="qx-subtitle">
        <p>Get the latest notices and be up to date.</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-58588" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-93589" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/news" >
        View All Notices      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-224974"
  class="qx-section  qx-hidden-lg qx-hidden-md wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-284975"
    class="qx-row "    >

    <div id="qx-column-144976" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-614977" class="qx-element qx-element-heading " >
  <div class="section-title">


            <h2 class="qx-title">
          Latest News
        </h2>

          <div class="qx-subtitle">
        <p>Get the latest notices and be up to date..</p>      </div>

  </div>
</div></div>
<!-- qx-col -->
<div id="qx-column-784978" class="qx-column  qx-col-lg-6 qx-col-md-6 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-button-04979" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/pages/news" >
        View All Notice      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-336415"
  class="qx-section  wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-916416"
    class="qx-row "    >

    <div id="qx-column-406418" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12" >
  <!-- qx-element-joomla-article -->
<div id="qx-joomla-articles-46421" class="qx-element qx-element-joomla-articles  qx-layout-grid qx-text-left wow slideInUp" data-wow-delay="0.2s">
            <div class="qx-row">
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/11-notice/46-campus-locations?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/notice/locations-intro.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/11-notice/46-campus-locations?Itemid=321">
                          Campus locations                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          We have campuses in the following locations :                        </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/11-notice/45-covid-19-regulations?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/notice/covid-19.png" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/11-notice/45-covid-19-regulations?Itemid=321">
                          Covid 19 Regulations                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          MEMO: ON CAMPUS COVID-19 REGULATIONSIn order to meet all health and safety compliance checks,                        </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                      <div class="qx-col-md-4">
                            <div class="qx-media-grid">
                <div class="qx-media-inner">
                                                            <figure>
                      <a href="/index.php/component/content/article/11-notice/47-new-students?Itemid=321">
                        <img class="qx-img-responsive" src="https://heartfeltcollege.org/images/themexpert/universidad/notice/asdmissions.jpg" alt="">
                      </a>
                      </figure> <!-- end of media -->
                                       <!--//end show_image-->

                  <div class="qx-media-body">
                  <div class="post-meta">



                                          </div><!--/.post-meta-->

                    <h3 class="qx-media-heading">
                                              <a href="/index.php/component/content/article/11-notice/47-new-students?Itemid=321">
                          New Students                        </a>
                                          </h3>
                    <div class="qx-element-jartil-details">


                                              <p class="qx-element-jarticle-introtext">
                          <strong>Greetings prospective student </strong>
 Pre-requisite: 5 O' Levels including  English                        </p>


                    </div><!--/.details-->
                  </div> <!-- media-body end -->
                </div> <!-- media-inner end-->
              </div> <!-- media end -->
            </div>
                  </div>
    </div></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
    </div>
  </div>
