<!-- qx-section -->
<div
  id="qx-section-45318"
  class="qx-section  qx-hidden-sm qx-hidden-xs wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-90319"
    class="qx-row "    >

    <div id="qx-column-28320" class="qx-column  qx-col-lg-6 qx-col-md-12 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-57329" class="qx-element qx-element-heading " >
  <div class="section-title">

          <div class="qx-subtitle">
        <p>Welcome to</p>      </div>

            <h2 class="qx-title">
          Heartfelt Institute of Ministry
        </h2>


  </div>
</div><div id="qx-text-97547" class="qx-element qx-element-text " >
  <div class="elementor-element elementor-element-qgjtcml elementor-widget elementor-widget-text-editor animated fadeIn" data-id="qgjtcml" data-animation="fadeIn" data-element_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix">
<p>In response to the global demand for a much needed departure from dogmatism to dynamism in the existing educational system, Heartfelt Institute of Ministry is built on the philosophical platform of being a departure from form to skill, a departure from knowledge to empowerment, a departure from figures to future-building, a departure from legalism to realism, a departure from mathe-matics to life-matics. This is reflected in our motto: “Raising Trans-generational Champions of the Gospel.”</p>
</div>
</div>
</div></div>
<!-- qx-element-text --><div id="qx-button-306024" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/about-heartfelt-institute" >
        Read More      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->
<div id="qx-column-44324" class="qx-column  qx-col-lg-6 qx-col-md-12 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-image-967082" class="qx-element qx-element-image " >

    <img
      class="qx-img "
      src="/images/themexpert/universidad/slider/lilian.png"

    />
  </div>
<!-- qx-element-image --></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>
<!-- qx-section -->
<div
  id="qx-section-27138"
  class="qx-section  qx-hidden-lg qx-hidden-md wow slideInUp" data-wow-delay="0.2s"   >

    <div class="qx-container">

    <div
    id="qx-row-8139"
    class="qx-row "    >

    <div id="qx-column-69140" class="qx-column  qx-col-lg-6 qx-col-md-12 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-heading-97141" class="qx-element qx-element-heading " >
  <div class="section-title">

          <div class="qx-subtitle">
        <p>Welcome to</p>      </div>

            <h2 class="qx-title">
          Heartfelt Institute of Ministry
        </h2>


  </div>
</div><div id="qx-text-56142" class="qx-element qx-element-text " >
  <p>In response to the global demand for a much needed departure from dogmatism to dynamism in the existing educational system, Heartfelt Institute of Ministry is built on the philosophical platform of being a departure from form to skill, a departure from knowledge to empowerment, a departure from figures to future-building, a departure from legalism to realism, a departure from mathe-matics to life-matics. This is reflected in our motto: “Raising Trans-generational Champions of the Gospel.”</p></div>
<!-- qx-element-text --><div id="qx-button-44143" class="qx-element qx-element-button" >
  <a class="qx-btn  qx-btn-default"
     href="/index.php/about-heartfelt-institute" >
        Read More      </a>
</div>
<!-- qx-element-button -->
</div>
<!-- qx-col -->
<div id="qx-column-74144" class="qx-column  qx-col-lg-6 qx-col-md-4 qx-col-sm-6 qx-col-xs-12" >
  <div id="qx-image-95145" class="qx-element qx-element-image " >

    <img
      class="qx-img "
      src="/images/themexpert/universidad/slider/lilian.png"

    />
  </div>
<!-- qx-element-image --></div>
<!-- qx-col -->

  </div>
  <!-- qx-row -->

    </div>

</div>