{% extends 'lecturerBase.html' %}
{% load static %}
{% block content %}
<style>
    .wrap-text-span {
    white-space: normal;
    word-wrap: break-word;  /* Allows long URLs or words to break and wrap onto the next line */
}

</style>
    <div class="col-lg-12">
        <div class="card dashboard-card-eleven">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Online Lessons</h3>
                    </div>
                </div>
                <div class="table-box-wrap">
                    <form class="search-form-box">
                        <div class="row gutters-8">
                            <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                <input type="text" placeholder="Search by Title ..." class="form-control">
                            </div>
                            <div class="col-4-xxxl col-xl-4 col-lg-4 col-12 form-group">
                                <input type="text" placeholder="Search by Date ..." class="form-control">
                            </div>
                            <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                <input type="text" placeholder="Search by Lecturer ..." class="form-control">
                            </div>
                            <div class="col-1-xxxl col-xl-2 col-lg-2 col-12 form-group">
                                <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive student-table-box">
                        <table class="table display data-table text-nowrap">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Lesson Date</th>
                                    <th>Lesson Start Date</th>
                                    <th>Lesson End Start</th>
                                    <th>Lecturer</th>
                                    <th>Class Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rw in online_lessons %}
                                <tr>
                                    
                                    <td>{{rw.online_title}}</td>
                                    <td>{{rw.lesson_date}}</td>
                                    <td>{{rw.lesson_start_time}}</td>
                                    <td>{{rw.lesson_end_time}}</td>
                                    <td>{{rw.lecturer}}</td>
                                    <td>
                                        <div class="dropdown text-center">
                                            <a href="#" class="dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <span
                                                    class="flaticon-more-button-of-three-dots"></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" style="padding:10px; font-size: sm;">
                                                <a href="{{rw.online_platform_link}}" style="text-decoration: none; text-decoration-color: black;" target="_blank">{{rw.online_platform_link}}</a>
                                                
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}